version: '3'
services:
    db:
        image: mcr.microsoft.com/mssql/server
        environment:
            SA_PASSWORD: ${SQL_SERVER_PASSWORD}
            ACCEPT_EULA: Y
        ports:
            - '14333:1433'
    tsqlrunner.initdb:
        image: aletasystems/tsqlrunner
        depends_on:
            - db
        volumes: 
          - './tsqlrunner.initscripts:/tsqlscripts'
        environment:
            SQLCMDSERVER: db
            SQLCMDUSER: sa
            SQLCMDPASSWORD: ${SQL_SERVER_PASSWORD}
        command: '/tooling/execute-sql-scripts.sh'
    flyway.tSQLcron:
        image: 'flyway/flyway'
        command: '-user=sa -password="${SQL_SERVER_PASSWORD}" -url="jdbc:sqlserver://db;databaseName=tSQLcron" -connectRetries=60 migrate'
        volumes:
            - './flyway.tSQLcron/sql:/flyway/sql'
            - './flyway.tSQLcron/conf:/flyway/conf'
        depends_on:
            - inittools
            - db