name: CI

on:
  push:
    branches: [ master ]

jobs:
  build-and-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Compose Up
      run: docker-compose up -d
